* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
}

/* html,
body {
  color: #fff;
} */

.overview {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  font-size: 2rem;
}

.radio-group {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
}
